#eccentric-app img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#unity-name {
    font-size: 3em;
    color: white;
    font-weight: bold;
}

@font-face {
    font-family: "Comic Helvetic";
    src: url("Fonts/ComicHelvetic_Medium.otf") format("opentype");
}

#eccentric-app {
    font-family: "Comic Helvetic" !important;
}

#eccentric-app button {
    font-family: "Comic Helvetic" !important;
}

#eccentric-app #eccentric-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


#eccentric-app .title {
    text-decoration: none;
    font-size: 2.5em;
    color: #130853;
    align-self: center;
    text-align: center;
}

.scale-and-opacity-animation {
    animation-name: scaleAndOpacityModal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    transform: scale(0);
    opacity: 0;
}

#eccentric-app .modal-btn-no {
    background-color: #fd786d;
    box-shadow: 0px -10px 0px -5px rgb(196, 36, 33) inset, 0px -11px 0px -5px rgb(253, 154, 146) inset;
    -webkit-box-shadow: 0px -10px 0px -5px rgb(196, 36, 33) inset, 0px -11px 0px -5px rgb(253, 154, 146) inset;
    -moz-box-shadow: 0px -10px 0px -5px rgb(196, 36, 33) inset, 0px -11px 0px -5px rgb(253, 154, 146) inset;
}

#eccentric-app .modal-btn-yes {
    background-color: #1be588;
    box-shadow: 0px -10px 0px -5px rgb(0, 147, 78) inset, 0px -11px 0px -5px rgb(109, 241, 169) inset;
    -webkit-box-shadow: 0px -10px 0px -5px rgb(0, 147, 78) inset, 0px -11px 0px -5px rgb(109, 241, 169) inset;
    -moz-box-shadow: 0px -10px 0px -5px rgb(0, 147, 78) inset, 0px -11px 0px -5px rgb(109, 241, 169) inset;
}

#eccentric-app .show {
    display: flex !important;
}

#eccentric-app .hide {
    display: none !important;
}

@keyframes scaleAndOpacityModal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*PROMO GAME*/
#eccentric-app #modal-promo-game-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px -10px 0px 0px rgba(34, 60, 80, 0.2);

}

#eccentric-app .modal-promo-game-content-top {
    display: flex;
    background-color: #ffe600;
    justify-content: space-between;
    align-items: center;
    color: #130853;
    font-size: 1.6em;
    border-radius: 10px 0 0 0;
}

#eccentric-app .modal-promo-game-content-top p {
    margin: 10px 0 10px 0;
}

#eccentric-app #modal-promo-game-btn-close {
    width: 42px;
    height: 42px;
    margin: -50px -20px 0 0;
}

#eccentric-app .modal-promo-game-content-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#eccentric-app #modal-promo-game-content-middle-banner {
    width: 400px;
    height: 235px;
    border-radius: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#eccentric-app .modal-promo-game-content-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

#eccentric-app #modal-promo-game-btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    color: #130853;
    padding: 0% 2% 0% 2%;
    border-radius: 10px;
    transition: 0.3s;
    width: 100px;
    height: 50px;
}


#eccentric-app #modal-promo-game-btn-open:hover {
    transform: scale(110%);
}


/*CUSTOM MODAL*/

#eccentric-app .modal-content-custom {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 480px;
    height: 320px;
    background-color: white;
    justify-content: space-between;
    box-shadow: inset 0px -10px 0px 0px rgba(34, 60, 80, 0.2);
}

#eccentric-app .modal-custom-content-top {
    display: flex;
    justify-content: center;

}

#eccentric-app .modal-custom-content-middle {
    display: flex;
    justify-content: center;
}

#eccentric-app #modal-custom-title {
    font-size: 2em;
    color: #130853;
    text-align: center;
}

#eccentric-app .modal-custom-content-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


#eccentric-app #modal-custom-btn-ok {
    border-radius: 10%;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em;
    color: #130853;
    transition: transform 0.2s ease-in;
}

#eccentric-app #modal-custom-btn-ok:hover {
    transform: scale(1.1);
}

#eccentric-app #modal-custom-btn-ok:active {
    transform: scale(120%);
}

/*OUR GAMES*/
#eccentric-app .modal-content-our-games {
    display: flex;
    width: 480px;
    height: 600px;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: inset 0px -10px 0px 0px rgba(34, 60, 80, 0.2);
}

#eccentric-app .modal-content-our-games-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #130853;
    border-radius: 5%;

}

#eccentric-app .modal-content-our-games-top-title {
    font-size: 3em;
    background-color: #fbca42;
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
}

#eccentric-app .modal-content-top-btn-close {
    width: 42px;
    height: 42px;
    position: absolute;
    align-self: flex-end;
}


#eccentric-app .modal-content-top-btn-close:hover {
    transform: scale(1.1);
}

#eccentric-app .modal-content-our-games-middle {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#eccentric-app .item-our-games {
    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    width: 215px;
    height: 135px;
    background-color: #ffffff;
    margin: 1% 1% 6% 1%;
    border-radius: 5%;
    background-size: cover;
    background-repeat: round;
    text-decoration: none;
    color: black;
}

#eccentric-app .item-our-games:hover {
    transform: scale(1.1);
    box-shadow: -4px 4px 15px 4px rgba(34, 60, 80, 0.3);
}


#eccentric-app .item-our-games-text {
    position: relative;
    bottom: -15%;
    font-weight: bold;
    text-wrap: none;
    color: #130853;
}

#eccentric-app #modal-our-games .modal-content-top-btn-close {
    margin-right: -14px;
    margin-top: -14px;
}


/*LEADERBOARD*/
#eccentric-app #modal-leaderboard {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 680px;
    background-color: #fdfdfd;
    border-radius: 15px 15px 25px 25px;
    box-shadow: inset 0px -10px 0px 0px rgba(34, 60, 80, 0.2);
}

#eccentric-app #modal-leaderboard-top {
    display: flex;
    background-color: #fdcb21;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;

}

#eccentric-app #modal-leaderboard-middle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

#eccentric-app .modal-leaderboard-middle-item {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 1rem;
    background-color: #ddd7e1;
    border-radius: 10px;
    margin: 0.5% 1% 1% 1%;
    color: #412b62;
    height: 60px;
    width: 430px;

    transform: scale(0);
    opacity: 0;
    overflow: visible;

    animation-name: scaleAndOpacityItemLeaderboard;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;


}

#eccentric-app #modal-leaderboard-middle-item-0 {

    animation-delay: 0.15s;
}

#eccentric-app #modal-leaderboard-middle-item-1 {
    animation-delay: 0.3s;
}

#eccentric-app #modal-leaderboard-middle-item-2 {
    margin-bottom: 5%;
    animation-delay: 0.35s;
}

#eccentric-app #modal-leaderboard-middle-item-3 {

    animation-delay: 0.4s;
}

#eccentric-app #modal-leaderboard-middle-item-4 {

    animation-delay: 0.45s;
}

#eccentric-app #modal-leaderboard-middle-item-5 {

    animation-delay: 0.5s;
}

#eccentric-app #modal-leaderboard-middle-item-6 {

    animation-delay: 0.55s;
}

#eccentric-app #modal-leaderboard-middle-item-7 {

    animation-delay: 0.6s;
}

#eccentric-app .modal-leaderboard-middle-item-selected {

    background-color: #fddd4a;
    border: rgb(253, 183, 88) solid 3px;
}

#eccentric-app .modal-leaderboard-middle-item-number {
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 1.2em;
    width: 7%;
    margin-top: 1%;
}

#eccentric-app .modal-leaderboard-middle-item-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 5px;
}

#eccentric-app .modal-leaderboard-middle-item-name {
    flex-grow: 2;
    font-size: 1.4em;
}

#eccentric-app .modal-leaderboard-middle-item-score {
    display: flex;
    flex-shrink: 1;
    font-size: 1.6em;
    justify-content: center;
}

#eccentric-app .modal-leaderboard-middle-item-score-placeholder {
    display: flex;
    background-color: #c6bdcd;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
}

#eccentric-app .modal-leaderboard-middle-item-score-placeholder-selected {
    background-color: #fdb900;
}

#eccentric-app .modal-leaderboard-middle-item-score-placeholder-text {
    margin-top: 1%;
}

#eccentric-app #modal-leaderboard .modal-content-top-btn-close {
    margin-right: -14px;
    margin-top: -50px;
}

@keyframes scaleAndOpacityItemLeaderboard {
    from {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#eccentric-app #modal-review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 15px 0;
    align-items: center;
    width: 500px;
    height: 350px;
    background-color: #fdfdfd;
    border-radius: 15px;
    box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);

}

#eccentric-app #modal-review-top img {
    width: 450px;
}

#eccentric-app #modal-review-middle {
    font-size: 2.2em;
}

#eccentric-app #modal-review-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#eccentric-app .modal-review-btn {
    width: 150px;
    height: 75px;
    margin: 0 30px 0 30px;
    border: solid 2px #100851;
    border-radius: 10px;
    color: #323232;
    font-size: 2em;
    padding-top: 7px;
    transition: transform 0.2s ease-in;
}

#eccentric-app .modal-review-btn:hover {
    transform: scale(1.1);
}

/*LOGIN*/
#eccentric-app #modal-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
}

#eccentric-app #modal-login-top {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #fdcb21;
    font-size: 1.5em;
}

#eccentric-app #modal-login-top p {
    margin: 15px 0px 10px 0px;
}

#eccentric-app #modal-login-middle {
    font-size: 1em;
    text-align: center;
    margin: 0 10px 0 10px;
}

#eccentric-app #modal-login-bottom {
    display: flex;
}

#eccentric-app .modal-login-btn {
    border-radius: 5px;
    width: 165px;
    height: 50px;
    margin: 10px 10px 20px 10px;
    font-size: 1em;
    border: solid 2px #100851;
    transition: transform 0.2s ease-in;
}

#eccentric-app .modal-login-btn:hover {
    transform: scale(1.1);
}

#eccentric-app .modal-login-btn p {
    text-align: center;
}


/*МЕДИА-ЗАПРОСЫ*/

@media screen and (max-width: 520px), (max-height: 720px) {

    /*LEADERBOARD*/
    #eccentric-app #modal-leaderboard {
        width: 320px;
        height: 455px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-leaderboard .title {
        font-size: 1.4em;
    }

    #eccentric-app .modal-content-top-btn-close {
        width: 32px;
        height: 32px;
    }

    #eccentric-app #modal-leaderboard .modal-content-top-btn-close {
        width: 32px;
        height: 32px;
        margin-right: -15px;
        margin-top: -25px;
    }

    #eccentric-app .modal-leaderboard-middle-item {
        height: 40px;
        width: 300px;
    }

    #eccentric-app .modal-leaderboard-middle-item-number {
        font-size: 1em;
        width: 7%;
        margin-top: 1%;
    }

    #eccentric-app .modal-leaderboard-middle-item-avatar {
        width: 32px;
        height: 32px;
    }

    #eccentric-app .modal-leaderboard-middle-item-name {
        font-size: 0.85em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score {
        font-size: 1.1em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder {
        width: 85px;
        height: 25px;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder-text {
        margin-top: 5%;
    }

    /*OUR_GAMES*/
    #eccentric-app .modal-content-our-games {
        width: 320px;
        height: 400px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-content-our-games-middle {
        margin-top: 2%;
    }

    #eccentric-app .item-our-games {
        width: 140px;
        height: 90px;
    }

    #eccentric-app .item-our-games-text {

        font-size: .65em;
    }

    #eccentric-app .modal-content-our-games-top-title {
        border-radius: 7px 0 0 0;
        -moz-border-radius: 7px 0 0 0;
        -webkit-border-radius: 7px 0 0 0;
        font-size: 1.8rem;
    }

    #eccentric-app #modal-our-games .modal-content-top-btn-close {
        width: 30px;
        height: 30px;
        margin-right: -10px;
        margin-top: -10px;
    }

    /*REVIEW*/
    #eccentric-app #modal-review {
        padding: 0 0 15px 0;
        width: 333px;
        height: 233px;
        border-radius: 15px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app #modal-review-top img {
        width: 300px;
    }

    #eccentric-app #modal-review-middle {
        font-size: 1.5em;
    }

    #eccentric-app .modal-review-btn {
        width: 100px;
        height: 50px;
        margin: 0 30px 0 30px;
        border: solid 2px #100851;
        border-radius: 10px;
        color: #323232;
        font-size: 1.5em;
        padding-top: 7px;
    }

    /*LOGIN*/
    #eccentric-app #modal-login {
        width: 265px;
        height: 200px;
        border-radius: 15px;
    }

    #eccentric-app #modal-login-top {
        border-radius: 15px 15px 0px 0px;
        font-size: 1.2em;
    }

    #eccentric-app #modal-login-top p {
        margin: 15px 0px 10px 0px;
    }

    #eccentric-app #modal-login-middle {
        font-size: 0.8em;
    }


    #eccentric-app .modal-login-btn {
        border-radius: 5px;
        width: 110px;
        height: 35px;
        margin: 10px 10px 12px 10px;
        font-size: 0.65em;
    }

    /*CUSTOM MODAL*/
    #eccentric-app .modal-content-custom {
        width: 320px;
        height: 215px;
        box-shadow: inset 0px -9px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-custom-title {
        font-size: 1.5em;
        color: #130853;
    }

    #eccentric-app .modal-custom-content-bottom {
        margin-bottom: 10px;
    }


    #eccentric-app #modal-custom-btn-ok {
        border-radius: 10%;
        padding: 5px 15px 5px 15px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    /*PROMO GAME*/
    #eccentric-app #modal-promo-game-content {
        width: 320px;
        height: 280px;
        border-radius: 10px;
        box-shadow: inset 0px -6px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app .modal-promo-game-content-top {
        font-size: 1em;
        border-radius: 10px 0 0 0;
    }

    #eccentric-app .modal-promo-game-content-top p {
        margin: 10px 0 10px 0;
    }

    #eccentric-app #modal-promo-game-btn-close {
        width: 30px;
        height: 30px;
        margin: -45px -15px 0 0;
    }

    #eccentric-app .modal-promo-game-content-middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #eccentric-app #modal-promo-game-content-middle-banner {
        width: 265px;
        height: 155px;
        border-radius: 7px;
        margin: 10px;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-promo-game-content-bottom {
        margin: 0 0 15px 0;
    }

    #eccentric-app #modal-promo-game-btn-open {
        font-size: 0.8em;
        padding: 0% 2% 0% 2%;
        border-radius: 7px;
        width: 70px;
        height: 35px;
    }


    #eccentric-app .modal-btn-no {
        background-color: #fd786d;
        box-shadow: 0px -9px 0px -5px rgb(196, 36, 33) inset, 0px -10px 0px -5px rgb(253, 154, 146) inset;
        -webkit-box-shadow: 0px -9px 0px -5px rgb(196, 36, 33) inset, 0px -10px 0px -5px rgb(253, 154, 146) inset;
        -moz-box-shadow: 0px -9px 0px -5px rgb(196, 36, 33) inset, 0px -10px 0px -5px rgb(253, 154, 146) inset;
    }

    #eccentric-app .modal-btn-yes {
        background-color: #1be588;
        box-shadow: 0px -9px 0px -5px rgb(0, 147, 78) inset, 0px -10px 0px -5px rgb(109, 241, 169) inset;
        -webkit-box-shadow: 0px -9px 0px -5px rgb(0, 147, 78) inset, 0px -10px 0px -5px rgb(109, 241, 169) inset;
        -moz-box-shadow: 0px -9px 0px -5px rgb(0, 147, 78) inset, 0px -10px 0px -5px rgb(109, 241, 169) inset;
    }
}

@media screen and (max-width: 360px), (max-height: 500px) {

    /*LEADERBOARD*/
    #eccentric-app #modal-leaderboard {
        width: 215px;
        height: 305px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-leaderboard .title {
        font-size: 1em;
    }

    #eccentric-app .modal-content-top-btn-close {
        width: 22px;
        height: 22px;
    }

    #eccentric-app #modal-leaderboard .modal-content-top-btn-close {
        width: 28px;
        height: 28px;
        margin-right: -13px;
        margin-top: -23px;
    }

    #eccentric-app .modal-leaderboard-middle-item {
        height: 27px;
        width: 200px;
    }

    #eccentric-app .modal-leaderboard-middle-item-number {
        font-size: 0.7em;
        width: 7%;
        margin-top: 1%;
    }

    #eccentric-app .modal-leaderboard-middle-item-avatar {
        width: 22px;
        height: 22px;
    }

    #eccentric-app .modal-leaderboard-middle-item-name {
        font-size: 0.48em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score {
        font-size: 0.8em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder {
        width: 57px;
        height: 20px;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder-text {
        margin-top: 5%;
    }

    #eccentric-app .modal-leaderboard-middle-item-selected {
        border: rgb(253, 183, 88) solid 2px;
    }

    /*OUR_GAMES*/
    #eccentric-app .modal-content-our-games {
        width: 205px;
        height: 265px;
        box-shadow: inset 0px -5px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-content-our-games-middle {
        margin-top: 2%;
    }

    #eccentric-app .item-our-games {
        width: 95px;
        height: 60px;
    }

    #eccentric-app .item-our-games-text {

        font-size: .4em;
    }

    #eccentric-app .modal-content-our-games-top-title {
        border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        font-size: 1.3em;
    }

    #eccentric-app #modal-our-games .modal-content-top-btn-close {
        width: 20px;
        height: 20px;
        margin-right: -7px;
        margin-top: -7px;
    }

    /*REVIEW*/
    #eccentric-app #modal-review {
        padding: 0 0 15px 0;
        width: 222px;
        height: 155px;
        border-radius: 15px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app #modal-review-top img {
        width: 200px;
    }

    #eccentric-app #modal-review-middle {
        font-size: 1em;
    }

    #eccentric-app .modal-review-btn {
        width: 70px;
        height: 35px;
        margin: 0 30px 0 30px;
        border: solid 2px #100851;
        border-radius: 10px;
        color: #323232;
        font-size: 1em;
        padding-top: 5px;

    }

    /*LOGIN*/
    #eccentric-app #modal-login {
        width: 200px;
        height: 150px;
        border-radius: 15px;
    }

    #eccentric-app #modal-login-top {
        border-radius: 15px 15px 0px 0px;
        font-size: 0.8em;
    }

    #eccentric-app #modal-login-top p {
        margin: 15px 0px 10px 0px;
    }

    #eccentric-app #modal-login-middle {
        font-size: 0.7em;
    }


    #eccentric-app .modal-login-btn {
        border-radius: 5px;
        width: 75px;
        height: 25px;
        margin: 0px 10px 5px 10px;
        font-size: 0.45em;
    }

    /*CUSTOM MODAL*/
    #eccentric-app .modal-content-custom {
        width: 215px;
        height: 145px;
        box-shadow: inset 0px -8px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-custom-title {
        font-size: 1em;
        color: #130853;
    }

    #eccentric-app .modal-custom-content-bottom {
        margin-bottom: 5px;
    }


    #eccentric-app #modal-custom-btn-ok {
        border-radius: 10%;
        padding: 5px 15px 5px 15px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    /*PROMO GAME*/
    #eccentric-app #modal-promo-game-content {
        width: 215px;
        height: 185px;
        border-radius: 7px;
        box-shadow: inset 0px -6px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app .modal-promo-game-content-top {
        font-size: 0.7em;
        border-radius: 10px 0 0 0;
    }

    #eccentric-app .modal-promo-game-content-top p {
        margin: 7px 0 7px 0;
    }

    #eccentric-app #modal-promo-game-btn-close {
        width: 20px;
        height: 20px;
        margin: -30px -10px 0 0;
    }

    #eccentric-app #modal-promo-game-content-middle-banner {
        width: 175px;
        height: 100px;
        border-radius: 5px;
        margin: 10px;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-promo-game-content-bottom {
        margin: 0 0 10px 0;
    }

    #eccentric-app #modal-promo-game-btn-open {
        font-size: 0.5em;
        padding: 0% 2% 0% 2%;
        border-radius: 4px;
        width: 45px;
        height: 20px;
    }

    #eccentric-app .modal-btn-no {
        background-color: #fd786d;
        box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
        -webkit-box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
        -moz-box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
    }

    #eccentric-app .modal-btn-yes {
        background-color: #1be588;
        box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
        -webkit-box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
        -moz-box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
    }

}

@media screen and (max-width: 250px), (max-height: 340px) {

    /*LEADERBOARD*/
    #eccentric-app #modal-leaderboard {
        width: 145px;
        height: 205px;
        border-radius: 5px;
        box-shadow: inset 0px -4px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-leaderboard-top {
        border-radius: 5px 5px 0 0;
    }

    #eccentric-app #modal-leaderboard .title {
        font-size: 0.7em;
    }

    #eccentric-app .modal-content-top-btn-close {
        width: 20px;
        height: 20px;
    }

    #eccentric-app #modal-leaderboard .modal-content-top-btn-close {
        width: 20px;
        height: 20px;
        margin-right: -10px;
        margin-top: -15px;
    }

    #eccentric-app .modal-leaderboard-middle-item {
        height: 18px;
        width: 133px;
        border-radius: 3px;
    }

    #eccentric-app .modal-leaderboard-middle-item-number {
        font-size: 0.5em;
        width: 7%;
        margin-top: 1%;
    }

    #eccentric-app .modal-leaderboard-middle-item-avatar {
        width: 18px;
        height: 18px;
    }

    #eccentric-app .modal-leaderboard-middle-item-name {
        font-size: 0.3em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score {
        font-size: 0.5em;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder {
        width: 38px;
        height: 13px;
        border-radius: 3px;
    }

    #eccentric-app .modal-leaderboard-middle-item-score-placeholder-text {
        margin-top: 5%;
    }

    #eccentric-app .modal-leaderboard-middle-item-selected {
        border: rgb(253, 183, 88) solid 2px;
    }

    /*OUR_GAMES*/
    #eccentric-app .modal-content-our-games {
        width: 136px;
        height: 176px;
        box-shadow: inset 0px -3px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-content-our-games-middle {
        margin-top: 2%;
    }

    #eccentric-app .item-our-games {
        width: 63px;
        height: 40px;
    }

    #eccentric-app .item-our-games-text {

        font-size: 4.5px;
    }

    #eccentric-app .modal-content-our-games-top-title {
        border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        font-size: 0.7em;
    }

    #eccentric-app #modal-our-games .modal-content-top-btn-close {
        width: 18px;
        height: 18px;
        margin-right: -7px;
        margin-top: -7px;
    }

    /*REVIEW*/
    #eccentric-app #modal-review {
        padding: 0 0 15px 0;
        width: 222px;
        height: 155px;
        border-radius: 15px;
        box-shadow: inset 0px -7px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app #modal-review-top img {
        width: 200px;
    }

    #eccentric-app #modal-review-middle {
        font-size: 1em;
    }

    #eccentric-app .modal-review-btn {
        width: 70px;
        height: 35px;
        margin: 0 30px 0 30px;
        border: solid 2px #100851;
        border-radius: 10px;
        color: #323232;
        font-size: 1em;
        padding-top: 5px;

    }

    /*LOGIN*/
    #eccentric-app #modal-login {
        width: 200px;
        height: 150px;
        border-radius: 15px;
    }

    #eccentric-app #modal-login-top {
        border-radius: 15px 15px 0px 0px;
        font-size: 0.8em;
    }

    #eccentric-app #modal-login-top p {
        margin: 15px 0px 10px 0px;
    }

    #eccentric-app #modal-login-middle {
        font-size: 0.7em;
    }


    #eccentric-app .modal-login-btn {
        border-radius: 5px;
        width: 75px;
        height: 25px;
        margin: 0px 10px 5px 10px;
        font-size: 0.45em;
    }

    /*CUSTOM MODAL*/
    #eccentric-app .modal-content-custom {
        width: 215px;
        height: 145px;
        box-shadow: inset 0px -8px 0px 0px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app #modal-custom-title {
        font-size: 1em;
        color: #130853;
    }

    #eccentric-app .modal-custom-content-bottom {
        margin-bottom: 5px;
    }


    #eccentric-app #modal-custom-btn-ok {
        border-radius: 10%;
        padding: 5px 15px 5px 15px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    /*PROMO GAME*/
    #eccentric-app #modal-promo-game-content {
        width: 215px;
        height: 185px;
        border-radius: 7px;
        box-shadow: inset 0px -6px 0px 0px rgba(34, 60, 80, 0.2);

    }

    #eccentric-app .modal-promo-game-content-top {
        font-size: 0.7em;
        border-radius: 10px 0 0 0;
    }

    #eccentric-app .modal-promo-game-content-top p {
        margin: 7px 0 7px 0;
    }

    #eccentric-app #modal-promo-game-btn-close {
        width: 20px;
        height: 20px;
        margin: -30px -10px 0 0;
    }

    #eccentric-app #modal-promo-game-content-middle-banner {
        width: 175px;
        height: 100px;
        border-radius: 5px;
        margin: 10px;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    #eccentric-app .modal-promo-game-content-bottom {
        margin: 0 0 10px 0;
    }

    #eccentric-app #modal-promo-game-btn-open {
        font-size: 0.5em;
        padding: 0% 2% 0% 2%;
        border-radius: 4px;
        width: 45px;
        height: 20px;
    }

    #eccentric-app .modal-btn-no {
        background-color: #fd786d;
        box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
        -webkit-box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
        -moz-box-shadow: 0px -8px 0px -5px rgb(196, 36, 33) inset, 0px -9px 0px -5px rgb(253, 154, 146) inset;
    }

    #eccentric-app .modal-btn-yes {
        background-color: #1be588;
        box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
        -webkit-box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
        -moz-box-shadow: 0px -8px 0px -5px rgb(0, 147, 78) inset, 0px -9px 0px -5px rgb(109, 241, 169) inset;
    }

}




